{% assign width = include.width | default: 800 %}
{% assign height = width | times: 3 | divided_by: 4 %}
{% assign height = include.height | default: height %}
<canvas
    id="{{ include.id }}"
    {% if include.interactive %}class="interactive"{% endif %}
    width="{{ width }}"
    height="{{ height }}">
</canvas>
{% if include.reload or include.interactive %}
<div class="overlay overlay-top overlay-left">
    {% if include.reload %}
    {% capture reload %}
    {%- if include.reload == "light" -%}light
    {%- else -%}secondary
    {%- endif -%}
    {% endcapture %}
    <button class="btn btn-{{ reload }} btn-sm {% if include.interactive %}interactive{% endif %} no-focus" onclick="reload_{{ include.id }}()">Reload</button>
    {% endif %}
</div>
{% endif %}