<footer>
    <p class="footer-name">Charles Jameson</p>
    <div class="footer-links">
        <a href="/"><i class="fas fa-home"></i></a>
        {%- if site.mail_address -%}
        <a href="mailto:{{ site.mail_address }}"><i class="fas fa-envelope"></i></a>
        {%- endif -%}
        {%- if site.github_username -%}
        <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
        {%- endif -%}
        <!-- <a href="/feed.xml" target="_blank"><i class="fas fa-rss-square"></i></a> -->
    </div>
</footer>