{% assign width = 320 %}
{% assign height = 180 %}
{% if include.width and include.height %}
{% assign width = include.width %}
{% assign height = include.height %}
{% endif %}

<svg
    id="{{ include.id }}"
    class="diagram {{ include.class }}"
    viewBox="0 0 {{ width }} {{ height }}">
</svg>
{% if include.reload %}
<div class="overlay overlay-top overlay-left">
    {% if include.reload %}
    {% capture reload %}
    {%- if include.reload == "light" -%}light
    {%- else -%}secondary
    {%- endif -%}
    {% endcapture %}
    <button class="btn btn-{{ reload }} btn-sm no-focus" onclick="reload_{{ include.id }}()">Reload</button>
    {% endif %}
</div>
{% endif %}