---
---
@import "variables";

body {
    font-size: 20px;
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
}

#clock-time {
    text-align: center;
    font-size: 100px;
    line-height: 1em;
    font-family: monospace;
    // margin-bottom: -.1em;
}

.hidden {
    display: none;
}

#clock-buttons {
    text-align: center;
    margin: 1em 0;

    button {
        width: 6em;
        font-size: 20px;
        line-height: 1em;
    }

}

#drill-list-live {
    font-size: 36px;
    .drill-item {
        text-align: center;

        &:first-child {
            font-size: 1.5em;
            color: $text-color;
            margin-bottom: 1em;
        }

        &:not(:first-child).rest {
            font-size: 0.8em;
            color: #888;
        }
    }

}

#text-mode {
    #text-mode-button {
        font-size: 12px;
        text-align: right;

        span {
            margin-left: 1em;
            color: $alt-color;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    #text-mode-note {
        font-size: 12px;
        color: #c00;
    }

    #text-mode-textbox {
        display: grid;
        &::after {
            content: attr(data-replicated-value) "";
            white-space: pre-wrap;
            visibility: hidden;
        }
        textarea {
            resize: none;
            overflow: hidden;
        }

        &::after, textarea {
            border: 1px solid lightgray;
            padding: 0.5rem;
            font: inherit;
          
            /* Place on top of each other */
            grid-area: 1 / 1 / 2 / 2;
        }
    }
}

#drill-list {

    .interactive {
        color: $alt-color;

        &:hover {
            color: $alt-color-darker;
        }
    }

    .invisible {
        visibility: hidden;
    }

    
    & > *:last-child {
        border-bottom: 1px solid lightgrey;
    }

    & > * {
        border-top: 1px solid lightgrey;
        padding: .1em 16px;
    }

    .drill-item {
        .drill-buttons {
            i {
                margin-left: .2em;
            }
            margin-left: .5em;
        }

        display: flex;
        align-items: center;
        
        .drill-text {
            flex: 1;
        }

        #addDrillText {
            width: 0;
            flex: 1;
        }

        #addDrillTime {
            width: 5em;
            margin-left: .5em;
        }
    }

    .drill-add {
        // font-size: .8em;
        text-align: center;
        border-top: 1px solid lightgrey;
    }
}