---
---
@import "variables";

#colour-sliders {

    font-family: $mono-font-family;
    line-height: 1em;

    .colour-slider > * {
        width: 100%;
    }

    #canvas6 {

        width: 6em;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // canvas {
            padding: .5em;
            // width: 100%;
        // }
    }
}
