---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "variables";

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "kern", "liga=1, dlig=1", "salt";
  -ms-font-feature-settings: "kern", "liga", "dlig", "salt";
  -webkit-font-feature-settings: "kern", "liga", "dlig", "salt";
  -o-font-feature-settings: "kern", "liga", "dlig", "salt";
  font-feature-settings: "kern", "liga", "dlig", "salt";
  text-rendering: optimizeLegibility;

  background-color: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;

  a, a:hover {
    color: $alt-color;
  }

  p {
    line-height: $base-line-height;
    margin-bottom: 1em;
  }

  // article > p:first-of-type {
  //   &:first-letter {
  //     color: $alt-color-darker;
  //     display: inline-block;
  //     float: left;
  //     font-size: 3.2em;
  //     line-height: 0.7em;
  //     font-style: normal;
  //     font-weight: bold;
  //     margin: 0.12em 0.15em 0 -0.01em;
  //   }

  //   min-height: 2em + $base-line-height;
  // }

  h1 {
    font-weight: 600;
    font-size: 1.6em;
  }

  h2 {
    margin-top: 1em;
    font-size: 1.3em;
    margin-bottom: 0.6em;
  }

  h3 {
    font-size: 1.2em;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: 0em;
  }
  
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  };
}

.main {
  background-color: $article-bg-color;
  // border: 1px solid $bg-color-darker;
  margin: 16px auto;
  // padding-left: 16px;
  // padding-right: 16px;
  border-radius: 4px;
  border-top: 3px solid $alt-color;
}

header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  text-align: center;
  font-family: $mono-font-family;


  #site-title h1 {
    color: $text-color;
    font-size: 3rem;
    margin-bottom: 0;
  }

  #site-subtitle h2 {
    color: lighten($text-color, 10%);
    font-size: 1rem;
    margin: 0;
  }

  &:not(.big-title) {

    #site-title h1 {
      font-size: 1.5rem;
      border: 2px solid $text-color;
      padding: .2em 2em;
      display: inline-block;
    }

    #site-subtitle {
      display: none;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .ornament {
    margin-top: 1em;
  }

  .ornament img {
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
  }
}

figure {

  position: relative;
  width: 70%;
  height: 100%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto 1.2rem auto;

  h3 {
    text-align: center;
  }

  .tangent {
    // padding: 2px;
    border: 2px solid $alt-color;
    border-radius: 2px;
    padding: 4px;
    display: block;
    box-sizing: border-box;
    background-color: fade-out($alt-color,.98);
  }

  &>*:not(.overlay) {
    width: 100%;
    margin-bottom: 4px;
    display: block;
    box-sizing: border-box;
  }

  .figure-group {
    display: flex;
    align-items: flex-start;

    & > * {
      flex-basis: 100%;

      &:not(:last-child) {
        margin-right: 1%;
      }
    }
  }

  .diagram {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    &:not(.no-outline) {
      border: 2px solid $alt-color;
      border-radius: 2px;
    }

    &.no-outline {
      padding: 2px;
    }

    .interactive {
      touch-action: none;
    }
  }

  button {
    font-family: $mono-font-family;
    min-width: 2rem;
  }

  .overlay {position: absolute;}
  .overlay-top {top: 0.5rem;}
  .overlay-left {left: 0.5rem;}
  .overlay-right {right: 0.5rem;}

  figcaption {
    text-align: center;

    .caption {
      line-height: 1.1em;
      font-style: italic;
    }

    .slider {
      width: 80%;
    }
  }
}

.article-title {
  h1 {
    margin-bottom: 0;
  }

  .meta {
    font-size: 0.9em;
    font-family: $mono-font-family;
    color: lighten($text-color, 20%);
    margin-bottom: 1em;
  }
}

article {

  padding: 0 16px 32px 16px;
  // border-bottom: 1px solid $text-color;
  
  ul li {
    line-height: 1.2em;
    padding-left: 1.5em;
    margin-bottom: .5em;
    list-style: none;
  }

  ul {
    position: relative;
    padding: 0;
    margin-left: 0;
  }

  ul > li:before {
    position: absolute;
    content: "▪";
    color: $alt-color;
    left: .1em;
  }

  pre, code {
    background-color: $background-color;
  }

  pre {
    padding: 1em;
    border-radius: 5px;
  }

  code {
    font-family: $mono-font-family;
  }

  .error {
    color: red;
  }

  .footnotes {

    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 1em;
    margin-top: 1em;
  
    font-family: $mono-font-family;
    font-size: $small-font-size;

    p {
      margin-bottom: .8em;
      line-height: 1.2em;
    }
  }
}

.article-arrows {
  font-family: $mono-font-family;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: $small-font-size;
  // padding-top: 1em;
  // border-top: 1px solid $alt-color;//rgba(0,0,0,.1);
  // border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 1em;

  p {
    flex: 1 1 0;
    max-width: 45%;
    margin: 0;
  }

  .prev {
    padding-right: .5em;
  } 

  .next {
    padding-left: .5em;
    text-align: right;
  }
}

blockquote {
  font-size: .85em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 2pt solid $alt-color;
  padding-left: 0.9em;
  margin-left: -1em;
  font-style: oblique;

  > :last-child {
    margin-bottom: 0;
  }

  code {
    font-style: normal;
    font-weight: 400;
  }

  em {
    font-style: normal;
  }
}

footer {
  padding-bottom: .5em;
  font-size: $small-font-size;
  font-family: $mono-font-family;

  text-align: center;

  .footer-name {
    margin-bottom: 0;
    line-height: 1.2em;
  }

  .footer-links {
    a {
      margin: 0 .2em;
    }

    svg {
      width: 1.5em;
      height: 1.2em;
      fill: $text-color;
      stroke: $text-color;
    }
  }

  // a, a:hover {
  //   color: $alt-color-darker;
  // }
}

sup > .footnote {
  margin-left: -0.2em;
  font-style: normal;
}

table {
  margin: 0 auto;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  border-spacing: 2em 0.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-collapse: separate;
  background-color: $background-color;
  border-left: 2.5pt solid $alt-color;

  td, th {
    display: table-cell;
    vertical-align: inherit;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  th {
    padding-bottom: 0.6em;
    // border-bottom: 2px solid $alt-color;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "syntax-highlighting"
;