---
---
@import "variables";

#svg1 {

    .edge {
        stroke: #bbbbbb;
        stroke-width: 2px;
        fill: #bbbbbb;
    }

    .nodes circle {
        fill: $alt-color;
        fill-opacity: 0.4;
    }

    .labels text {
        font-size: 12px;
        font-family: $mono-font-family;
        font-weight: bold;
    }
}

.svg-chart {

    font-family: $mono-font-family;
    
    .bar-chart > rect {
      fill: $alt-color;
    }
  
    .axis-gridline {
      .domain {
        display: none;
      }
  
      .tick line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
      }
    }
  }

.route-query {

    font-family: $mono-font-family;
    padding: 0;

    .route-input {
        margin-bottom: 10px;
    }

    .route-input > div {
        padding: 0 5px 5px 5px;
    }

    #route-submit {
        width: 100px;
    }

    .route-output {
        min-height: 12px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;

        &>* {
            text-align: center;
        }
    }
}

.select2-container {
    font-family: $mono-font-family;
}

.select2-results__option--highlighted {
    background-color: #eee !important;
    color: inherit !important;
}