---
---
@import "variables";

#screen-size-gag {
    font-family: $mono-font-family;
    background-color: #eee;
}

#canvas1 {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
}

#form-example {
    font-family: $mono-font-family;
    
    & > div {
        padding: 10px; 

        & > * {
            width: 100%;

            &:not(.last) {
                margin-bottom: 10px;
            }
        }
    }

    .checkbox-group {
        display: flex;
        align-items: center;

        & > * {
            align-items: center;
        }

        label {
            line-height: 1em;
            margin-left: .5em;
            margin-bottom: .2em;
        }
    }

    .diagram {
        position: relative;
        & > canvas {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,.4);
        }
    }
}

#svg1 {

    font-family: $mono-font-family;

    .axis-gridline {
        text {
            display: none;
        }

        .domain {
            display: none;
        }

        .tick line {
            stroke: lightgrey;
            stroke-opacity: 0.7;
            shape-rendering: crispEdges;
        }
    }

    .yaxis {
        text {
            display: none;
        }
    }
}

#cookie-buttons {
    
    button {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #set-cookie {
        width: 15em;
    }

    #delete-cookie {
        width: 6em;
        // padding-top: 2px;
        // padding-bottom: 2px;

        &.hidden {
            display: none;
        }
    }
}